
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Predict 434 Main</title>
</head>
<body>
 
 

<xmp theme="united" style="display:none;">

###  Predicting the Probability of default -"GiveMeSomeCredit" from Kaggle
    
This application provides REST API prediction route for POST request @ /predict 
    
* To  get the the prediction first you need create a payload and then submit via POST request.
    
* The response will be in the json format predicting the loan defaulting over the next 2 years:
```python
{
    "predicted=1": [
        0.08020394910646918,
        0.041356749003717067,
        0.015437037693870236,
        0.07310729402770287,
        0.10729297692992816,
        0.025973690929737003,
        0.05397958700198282,
        0.04371209879083955,
        0.007954856044590746,
        0.40790066865922325
    ]
}
```
* the model is based on the Kaggle competiion "GiveMeSomeCredit" that can be found   <a href='https://www.kaggle.com/c/GiveMeSomeCredit/overview'>here</a>

* The model uses Random Forecast Classifier with the prediction Power 0.86 (AUC)

<img src="/static/images/prediction.png" alt="Test Data Prediction"> 
 
</xmp>

<!--     <img src="/static/prediction.png" alt="Test Data Prediction">  -->
 
 
 
 
</body>
    <script src="/static/strapdown.js"></script>

</html>