
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MSDS 434 - GCP Deployment</title>
</head>
<body>
 
 

<xmp theme="united" style="display:none;">

###  Predicting the Probability of default  -"GiveMeSomeCredit" from Kaggle
#### with GCP App Engine Deployment    

#### Routes
 

    
 
[http:[server_url]/readme](readme) Similar or the same information found README.md file in github repository<br> 
[http:[server_url]/model](model) Provides some basic model information <br>
[github.com repo](https://github.com/enisbe/gcp-app/tree/prod)   Github repository   
  
</xmp>

  
 
 
 
</body>
    <script src="/static/strapdown.js"></script>

</html>